@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2><a asp-action="Feladat2">2.feladat</a></h2>

<h2><a asp-action="Feladat3">3.feladat</a></h2>

<h2><a asp-action="Feladat4">4.feladat</a></h2>

<h2><a asp-action="Feladat5">5.feladat</a></h2>

<h2><a asp-action="Feladat6">6.feladat</a></h2>
