@model int

@if (User.IsInRole("User") || User.IsInRole("Admin"))
{

    <a asp-action="Edit" asp-route-id="@Model">Edit</a>

    <span> | </span>

    @if (User.IsInRole("Admin"))

    {

        <a asp-action="Delete" asp-route-id="@Model">Delete</a>

        <span> | </span>

    }

}
<a asp-action="Details" asp-route-id="@Model">Details</a>

